* {
  box-sizing: border-box;
}

.container {
width: 70%;
height: 500px;
border: 5px solid orange;
margin: auto;
text-align: center;
}

.item {
  height: 70px;
  width: 200px;
  background-color: lightblue;
  margin: 5px;
}

p {
  margin: auto;
}


/****************** Your code below here ***************************/

.container {

}

.item {

}

#one {

}

#two {

}

#three {

}

#four {

}

#five {

}
